.nav-tabs {
  display: flex;
  gap: 13px;
  margin-bottom: 13px;
  border-bottom: 2px solid #ddd;
}

.nav-tabs .tab {
  padding: 6px 13px;
  text-decoration: none;
  color: #412828;
  font-weight: 500;
  font-size: 13px;
}

.nav-tabs .tab.active {
  border-bottom: 3px solid #f5a623;
  color: #f5a623;
}

.nav-tabs .tab.disabled {
  color: #aaa;
  pointer-events: none;
}